html, body, [class*="css"]  {
    font-family: 'Arial', sans-serif;
}

/* BACKGROUND */
.stApp {
    background: linear-gradient(135deg, #071c24, #0c2d3d);
    color: white;
}

/* TITLE */
.title {
    font-size: 55px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}

.subtitle {
    color: #d1d5db;
    font-size: 18px;
    margin-bottom: 30px;
}

/* CARD */
.card {
    background: rgba(255,255,255,0.08);

    border-radius: 25px;

    padding: 25px;

    color: white;

    height: 200px;

    margin-bottom: 20px;

    box-shadow: 0 8px 32px rgba(0,0,0,0.2);

    backdrop-filter: blur(6px);

    border: 1px solid rgba(255,255,255,0.1);
}

/* INPUT BOX */
.input-box {

    background: white;

    padding: 35px;

    border-radius: 25px;

    color: black;

    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
}

/* INPUT */
.stTextInput input,
.stNumberInput input {

    background-color: #f3f4f6 !important;

    color: black !important;

    border-radius: 12px !important;

    border: none !important;
}

/* BUTTON */
.stButton>button {

    width: 100%;

    height: 50px;

    border-radius: 12px;

    border: none;

    background: linear-gradient(to right, #2563eb, #1d4ed8);

    color: white;

    font-size: 18px;

    font-weight: bold;
}

/* RESULT */
.stSuccess {

    border-radius: 15px;
}

.stError {

    border-radius: 15px;
}
